---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const current = "/" + (subpath?.[0] || "");
const isActive = href === pathname || href === current;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		padding: 0.45rem 0.8rem;
		border-radius: 6px;
		font-size: 0.95rem;
		color: var(--text-dim);
		border: none;
	}
	a:hover {
		color: var(--text);
		background: var(--bg-card);
		border: none;
	}
	a.active {
		color: var(--accent);
		background: var(--bg-card);
	}
</style>
